body{
    padding: 0;
    margin: 0;
    
}
*{
    box-sizing: border-box;
}


header{
    background: #cfcdcdb6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: #1aaaec 7px solid;

}
.sortbyflex{
    margin: auto;
    width: 70%;
    padding: 10 px;
    
        
}

aside{
    width: 20%;
    padding: 25px 0px;
}

aside ul{
    padding: 0;
    margin: 0;
    list-style: outside;
}
aside ul li button{
    display: block;
    width: 70%;
    padding: 0;
    margin: 0;
    list-style: outside;
    background-color: white;
    border: none;
    display: flex;
    cursor: pointer;
    padding: 5px;
}
aside ul li button:hover{
    background-color: rgba(31, 101, 206, 0.555);
}

.subjectborder{
    width: 210px;
    background-color: #91c7fa;
    padding: 20px 20px;
    margin: 15px;
    border-radius: 10px;
    
}
.subjectborder figure{
    display: flex;
    justify-content: center;
    align-items: right;
}
.subjectborder figure img{
    width: 100px;
    height: 100px;
}

.card-container {
    margin: auto;
    width: 60%;
    padding: 10px;
    
  }
  
.styles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

.buttonstyle{
    width: 140px;
    height: 50px;
    background-color: #FFFFFF	;

}