<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Work Abdullah </title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="design.css">
    <script src="products.js"></script>
    
</head>

<body>


<div id="app">
    

    <header>
    <h1 v-text='sitename'></h1>
    

    <!-- Start Cart -->
    <button class="buttonstyle" v-if="cart.length > 0" v-on:click='showCheckout'> {{cart.length}} <span
        class="fas fa-shopping-cart"></span>Cart
    </button>    
</header>


    <!-- End Cart -->

<div class="MainDiv">
    
    
            
    <!-- Start Product Container -->
    <div class="card-container">
        
    
    <div class="styles" v-if='showProduct'>
        <div class="sortbyflex">
            <!-- Start sorting ascending/descending -->
                
            <br><strong>Sort By</strong>
                        <p><button @click="sort('title')"><span class="fas fa-sort"></span></button> Subject</p>
                        <p><button @click="sort('location')"><span class="fas fa-sort"></span></button> Location</p>
                        <p><button @click="sort('price')"><span class="fas fa-sort"></span></button> Price</p>
                
        </div>       
            <!-- End sorting ascending/descending -->
        <div v-for='product in sortedProducts'>
            
    <div class="subjectborder">
    <figure> <img v-bind:src='product.image'> </figure>
    <h2 v-text= 'product.title'></h2>
    <p>Description: {{product.description}}</p>
    <p>Location: {{product.location}}</p>
    <p>Price: £{{product.price}}</p>
    <p>Spaces: {{product.availableInventory}}</p>
   <button @click='addItem(product)' v-bind:disabled='!canAddToItem(product)'>Add to cart</button>

    
</div>
</div>
</div>



 <!-- End Product Container -->
 

<!-- Start of Check out Page-->
<div v-else>    
    
<button @click='backPage'>Previous Page</button>

    <h2>Checkout</h2>
    <ul>
   
        <!-- Start of remove item from cart-->
        <div v-for="(product, products) in cart" class="productList">
         <img v-bind:src='product.image' alt="" width="100px" height="100px">
        <br>
        Subject: {{product.subject}} <br>
        Location: {{product.location}} <br>
        Price: £{{product.price}} <br>
        <button @click='removeFromCart(product)'>Remove from cart</button>
        <br>
         <!-- End of remove item from cart-->

    </div>
    </ul>
    <p>
        <Strong>First name</Strong>
        <input v-model='order.firstName'>

    </p>

    <p>
        <Strong>Last name</Strong>
        <input v-model='order.lastName'>

    </p>

    <p>
        <Strong>Phone number</Strong>
        <input v-model='order.phoneNumber'>

    </p>

    <h3>Order Information</h3>
    <p>First name: {{order.firstName}}</p>
    <p>Last name: {{order.lastName}}</p>
    <p>Phone number: {{order.phoneNumber}}</p>
    

    <button @click='sumbitForm'> Place Order </button>

</div>
<!-- End of Check out-->

<!-- Start of JS-->

<script type="text/javascript">
    let webstore = new Vue({
        el: "#app",
        data:{
            sitename: "Subject Classes",
            showProduct: true,
            products: products,

        cart:[],
        sortBy: '',
        sortDir: 'asc',
        order: {
            firstName:'',
            lastName: '',
            phoneNumber:'',
            gift: 'No.',
            sendGift: 'Yes.',
            doNotSendGift: 'No.'
        },
        
    },

        methods: {
            addItem(product){      
                this.cart.push(product)
                product.availableInventory--;
            },
            showCheckout() {
                this.showProduct = this.showProduct ? false : true;
            },      

           
            backPage(){
                this.showProduct = this.showProduct ? false : true;
            },

            canAddToItem(product) {
                return product.availableInventory > 0;
            },
            cartCount(product){
                let count = 0
                for (let i=0; i<this.cart.length    ; i++) {
                    if(this.cart[i]===product)
                    {
                        count++
                    }
                }
                return count

            },
            itemLeft (product){
                return product.availableInventory - this.cartCount(product.id)

            },

            sort(s) {
                if(s === this.sortBy) {
                    this.sortDir = this.sortDir === 'asc' ? 'desc' : 'asc';
                }
                this.sortBy = s;

            },
           
            
        },

        computed: {
            cartItemCount(){
                return this.cart.length || '0';
            }, 
            sortedProducts: function() {
                    return this.products        .sort((a, b) =>{
                        let modifier = 1;
                        if(this.sortDir === 'desc') modifier = -1;
                        if(a[this.sortBy] < b[this.sortBy]) return -1 * modifier;
                        if(a[this.sortBy] > b[this.sortBy]) return 1 * modifier;
                        return 0;
                    })

                },  
            
            }
            
        });
   

//End of JS

</script>




</body>
</html>